In [5]:
import data_preparation
import pandas as pd

In [6]:
df = pd.read_json("../data/train.json")

In [25]:
binary_ads = data_preparation.prepare_binary_ads(df[:5], ['cuisine', 'id'], 'ingredients')

In [23]:
#binary_ads.reset_index(drop=True, inplace=True)

In [53]:
df[:5]

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [59]:
df[:5] \
    .set_index(['id', 'cuisine']) \
    .apply(pd.Series) \
    .stack() \
    .reset_index(level=2, drop=True)

id     cuisine
10259  greek          [romaine lettuce, black olives, grape tomatoes...
25693  southern_us    [plain flour, ground pepper, salt, tomatoes, g...
20130  filipino       [eggs, pepper, salt, mayonaise, cooking oil, g...
22213  indian                       [water, vegetable oil, wheat, salt]
13162  indian         [black pepper, shallots, cornflour, cayenne pe...
dtype: object

In [85]:
def func(item):
    print(item.values, type(item))

In [86]:
df[:1] \
    .set_index(['id', 'cuisine']) \
    .apply(func)

[['romaine lettuce', 'black olives', 'grape tomatoes', 'garlic', 'pepper', 'purple onion', 'seasoning', 'garbanzo beans', 'feta cheese crumbles']] <class 'pandas.core.series.Series'>

ingredients    None
dtype: object

In [78]:
df[:5] \
    .set_index(['id', 'cuisine']) \
    .apply(pd.Series, axis=1) \
    .stack() \
    .reset_index(level=2, drop=True) \
    .to_frame('ingredient') \
    .reset_index()

      id      cuisine                                         ingredient
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...